<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ChromeTest">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="com.SauceDemo.TestClass.BasicAddtoCart"/>
      <class name="com.SauceDemo.TestClass.BasicLogOut"/>
      <class name="com.SauceDemo.TestClass.BasicVerifyLogin"/>
    </classes>
  </test> <!-- ChromeTest -->
</suite> <!-- Suite -->
